<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Olympe for safe</title>
</head>
<body>
    <section id="inicio">
    <div id="cabecalho">
        <h2>OLYMPE <br/>
            FOR SAFE</h2>
        <nav id="menu"> 
            <a href="olympe.html" class="link-cabecalho">OLYMPE</a>
            <a href="#aplicativo" class="link-cabecalho">APLICATIVO</a>
            <a href="#dispositivo" class="link-cabecalho">DISPOSITIVO</a>
            <a href="#" class="link-cabecalho">MAPEAMENTO</a>
            <a href="#contato" class="link-cabecalho">CONTATO</a>
        </nav>
        <div id="acesso">
            <a href="#" style="color: #ffff" class="link-cabecalho">ACESSO</a>
            <img src="../img/sol_detalhe.png" alt="detalhe">
        </div>
    </div>

    <div id="principal">
        <h1><strong>O APP DE SEGURANÇA FEMININA</strong></h1>
        <p id="texto-inicio">Segurança em qualquer lugar a qualquer 
        hora, tecnologia que atua junto com a mobilidade 
        urbana feminia.</p>
        <a href="#sobre" style="color: #ffff;
        width: 10vw; height: 6vh;
        background-color: #dd1155;
        display: flex; align-items: center;
        padding-left: 2%; border-radius: 5vw;"> SABER MAIS -></a>
        <div id="shape_app">
            <div id="layout1"></div>
            <div id="layout2"></div>

            <img id="img1_inicio" src="../img/tela1.png" alt="imagem da tela inicial do aplicativo">
            <div id="layout3">
                <img src="../img/sol_colorido.png" alt="detalhe de sol colorido">
                <p style="font-size: 1rem;">SEGURANÇA <br/>
                COM <br> TECNOLOGIA</p>
                <img src="../img/sol_colorido.png" alt="detalhe de sol colorido">
            </div>
        </div>
    </div>
    </section>
    <img src="../img/sol_lateral.png" alt="meio sol na lateral da página.">
    <div id="detalhe"></div>
    <section id="sobre">
        <div id="conteudo_sobre">
            <h4 style="text-align: center; padding-left: 0; padding-top: 5%;">OLYMPE FOR SAFE - UM PROJETO DE MULHER PARA MULHERES</h4>
            <p>O Olympe nasceu nos corredores do IFSP - Campus Guarulhos, 
            em 2024, como um Projeto Integrador do curso de Informática. 
            Movidos pelo desejo de usar a tecnologia para solucionar um 
            problema real e urgente da nossa sociedade, voltamos nosso 
            olhar para a mobilidade urbana feminina e os perigos que as 
            mulheres enfrentam diariamente ao se deslocarem pelas cidades.
            <br><br>
            Acreditamos que pensar em mobilidade urbana segura é, acima 
            de tudo, pensar em bem-estar e liberdade. Para garantir que 
            as mulheres possam caminhar sem medo, desenvolvemos o aplicativo 
            Olympe for Safe integrado a um dispositivo inteligente. Nossa 
            solução cria uma rede de proteção ágil, capaz de conectar a 
            usuária às autoridades em questão de segundos em situações de risco.
            </p>
            <img src="../img/logo.png" alt="Logo do projeto">
        </div>
        <section id="aplicativo">
            <h4>APLICATIVO</h4>
            <div class="telas">
                <img src="../img/tela1.png" alt="">
                <div id="tela1">
                <h5>Escolha o caminho mais seguro</h5>
                <div>
                <p>O aplicativo oferece um mapeamento colaborativo <br>
                que identifica qual a rota mais segura para o seu trajeto.</p>
                <img id="elementos" style="width: 35vw;" src="../img/elementos.png" alt="">
                </div>
                <a href="#" style="color: #ffff;
                width: 11vw; height: 6vh;
                background-color: #dd1155;
                display: flex; align-items: center;
                padding: 0% 5%; border-radius: 5vw;
                margin-top: 5%;justify-self: right;">Ajude no mapeamento</a>
                </div>
            </div>
            <div class="telas">
                <div id="tela2">
                <h5>Sinta-se em segurança</h5>
                <p>Cadastre até 3 contatos de confiança <br>
                para compartilhar localização e pedir socorro.</p>
                </div>
                <img src="../img/tela2.png" alt="">
            </div>
            <div class="telas" style="padding-bottom: 5%;">
                <img src="../img/tela3.png" alt="">
                <div id="tela3">
                <h5>Conheça locais de apoio</h5>
                <p>Naveguge pelo catálogo de instituições <br>
                e descubra os projetos disponíveis na cidade <br>
                em prol da segurança das mulheres.</p>
                <p><strong>E mais:</strong> Botão de emergência em TODAS 
                as telas <br> para contactar a polícia imediatamente.</p>
                </div>
            </div>
        </section>
        <section id="dispositivo">
            <h4>DISPOSITIVO INTELIGENTE</h4>
            <div id="conteudo_dispositivo">
            <div id="texto_dispositivo">
            <p>O <strong>chaveiro Olympe</strong> é o nosso botão 
            de emergência escondido, com apenas um clique você se 
            comunica diretamente com o 180 e sua ocorrência é registrada.</p>
            <a href="#" style="color: #ffff;
            width: 10vw; height: 6vh;
            background-color: #dd1155;
            display: flex; align-items: center;
            padding: 0% 5%; border-radius: 5vw;
            margin-top: 5%;">Encomende já o seu</a>
            </div style="margin-bottom: 5%;">
            <img src="../img/dispositivo.png" style="width: 20vw;" alt="">
            </div>
        </section>
    </section>
    <footer>
        <h6>Olympe for safe</h6>
        <div id="contato">
            <h6>Contato</h6>
            <p>@olympeforsafe</p>
            <p>olympeforsafe@gmail.com</p>
        </div>
        <h6>Tecnologia em apoio a <br/> mudança!</h6>
    </footer>
</body>
</html>