<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Olympe for safe</title>
</head>
<body>
    <section id="inicio">
    <div id="cabecalho">
        <h2>OLYMPE <br/>
            FOR SAFE</h2>
        <div id="menu"> 
            <a href="#" class="link-cabecalho">OLYMPE</a>
            <a href="#" class="link-cabecalho">APLICATIVO</a>
            <a href="#" class="link-cabecalho">DISPOSITIVO</a>
            <a href="#" class="link-cabecalho">MAPEAMENTO</a>
            <a href="#" class="link-cabecalho">CONTATO</a>
        </div>
        <div id="acesso">
            <a href="#" style="color: #ffff" class="link-cabecalho">ACESSO</a>
            <img src="../img/sol_detalhe.png" alt="detalhe">
        </div>
    </div>

    <div id="principal">
        <h1><strong>O APP DE SEGURANÇA FEMININA</strong></h1>
        <p id="texto-inicio">Segurança em qualquer lugar a qualquer 
        hora, tecnologia que atua junto com a mobilidade 
        urbana feminia.</p>
        <a href="#" style="color: #ffff;
        width: 10vw; height: 6vh;
        background-color: #dd1155;
        display: flex; align-items: center;
        padding-left: 2%; border-radius: 5vw;"> SABER MAIS -></a>
        <div id="shape_app">
            <div id="layout1"></div>
            <div id="layout2"></div>

            <img id="img1_inicio" src="../img/tela1_inicio.png" alt="imagem da tela inicial do aplicativo">
            <div id="layout3">
                <img src="../img/sol_colorido.png" alt="detalhe de sol colorido">
                <p>SEGURANÇA <br/>
                COM <br> TECNOLOGIA</p>
                <img src="../img/sol_colorido.png" alt="detalhe de sol colorido">
            </div>
        </div>
    </div>
    </section>

    <section id="projeto">
        
    </section>

    
</body>
</html>