<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Olympe - sobre nós</title>
</head>
<body>
    <div id="cabecalho">
        <h2>OLYMPE <br/>
            FOR SAFE</h2>
        <nav id="menu"> 
            <a href="home.html" class="link-cabecalho">HOME</a>
            <a href="#aplicativo" class="link-cabecalho">APLICATIVO</a>
            <a href="#dispositivo" class="link-cabecalho">DISPOSITIVO</a>
            <a href="#" class="link-cabecalho">MAPEAMENTO</a>
            <a href="#contato" class="link-cabecalho">CONTATO</a>
        </nav>
        <div id="acesso">
            <a href="#" style="color: #ffff" class="link-cabecalho">ACESSO</a>
            <img src="../img/sol_detalhe.png" alt="detalhe">
        </div>
    </div>
    <section id="olympe-conteudo">
    <img src="../img/pesquisadoras.png" 
    style="width: 60vw;"
    alt="apresentação das pesquisadoras do projeto: 
    Danielle, Emanoela e Gabrielly.">

    <p>Somos alunas do Instituto Federal de Ciência, Educação e Tecnologia
    de São Paulo - Campus Guarulhos, cursamos os cursos de Informática 
    (Danielle) e Mecatrônica (Emanoela e Gabrielly). Pensamos o Sistema
    Olympe for Safe com o intuíto de unir a tecnologia com a mobilidade
    urbana feminina a fim de construir um ambiente urbano cada vez mais
    seguro para as mulheres e que elas sejam livres para caminhar por 
    onde quiserem.</p>
    <br>
    <h2>- DEPOIMENTOS -</h2>
    <br>
    <p><strong>Danielle: </strong>Eu pesquiso sobre mobilidade urbana desde
    2024 e venho desenvolvendo o aplicativo e o site do Olympe for Safe há 1
    ano e meio, ver o projeto tomando forma e até onde ele pode chegar é muito
    gratificante, sei que essa pesquisa tem potencial para muito mais e tenho
    orgulho de tudo que já produzi com ela e claro, todas as experiências incríveis
    que me proporcionou.  Acredito que as mulheres devem ocupar seus espaços e esse 
    projeto reflete muito bem essa ideia.  Por mais mulheres na ciência, mais
    mulheres na tecnologia e principalmente, livres!</p>
    </section>
    <img src="../img/onda_detalhe.png" alt="detalhe">

</body>
</html>